---
import Footer from "../components/Footer.jsx";
import HeroImperio from "../components/HeroImperio.jsx";
import Navigation from "../components/Navigation.jsx";
import Preloader from "../components/Preloader.jsx";
import ProjectsGrid from "../components/ProjectsGrid.jsx";
import Services from "../components/Services.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Imperio Español"
  description="Archivo vivo de ideas y memoria sobre el Imperio Español."
>
  <div class="home-page">
    <Preloader client:load />
    <Navigation />
    <HeroImperio client:load />
    <Services />
    <ProjectsGrid />
    <Footer />
  </div>
</Layout>
